.avatar{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}
.avatar h2{
    padding: 5px;
}
.background-primary{
    background: #383B58;
}
.color-secondary{
    background-color: #1DBEB4;
}