#mobile-header{
    background-color:#FFFFFF ;
    height: 93px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11px;
    
    
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}




nav {
    
}
.nav-container{
    width: 303px;
    height: 100vh;
    border: 1px solid #DFE4EA;
    z-index: 100;
    position: fixed;
    position: fixed;
     top: 0;
    bottom: 0;
     right: -700px; 
    background-color:#FFFFFF ;
    z-index: 50;
    transition: all 0.75s ease;
    overflow-y: auto;
    text-align: right;
}

.active{
    right: 0;
    transition: transform 0.5s ease;
    transform: translateX(0px);
}
.hide{
    right:-700px;
    transform: translateX(700px);
}
 .nav-header{
    width: 100%;
    height: 40%;
    background-color: #1DBEB4;
    position: relative;
}

.nav-header .user-content{
    margin-top: auto;
    
    height:100%;
    display: flex;
    /* border: 1px solid red; */
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
    padding-right: 10px;
    
    
}
.nav-header .user-content h3{
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav-header #menu-title{
    position: absolute;
    right:10px;
    bottom:6px;
    margin: 0;
}
.nav-header div img{
    position: absolute;
    left:15px;
    top:15px;
    cursor: pointer;
} 
.nav-content{
    z-index: 100;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    
    position: relative;   
}
.nav-content hr{
    margin-right: 10px;
}
.nav-content h3{
    margin: 23px 15px 16px 16px;
}
.nav-content-user{
    z-index: 100;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    
    position: relative;   
}

.nav-content-user{
    height: 45%;
    justify-content: end;
    padding-right: 10px;
}
.nav-content-user p{
    margin:0;
}
.nav-content-user hr{
    margin-top:5px;
    margin-right: 0px;
}



.header-icons{
    position: absolute;
    bottom: 29px;
    right: 15px;
    display: flex;
    justify-content: end;
    width: 100%;
}
.header-icons img{
    margin-left: 17px;
}





